$margin: 20px;
$color: #969292;
$fontSize: 16px;
$transitionTime: 0.1s;
$primaryColor: #0062ff;
$secondaryColor: red;
$backgroundColor: rgba(255, 255, 255, 0);
$padding: 30px;
$borderRadius: 5px;
$whiteColor: rgb(255, 255, 255);
$blackColor: rgb(2, 2, 2);